@media (max-width: 1200px) {
  .container {
    max-width: 820px;
  }
 }

@media (max-width: 991px) {
  .advantages {
    &__items {
      margin-top: 35px;
      justify-content: center;
    }
    &__item {
      margin-top: 30px;
      img {
        margin-bottom: 30px;
      }
    }
  }
  .carousel {
    .prev, .next {
        display: none;
    }
  }
  .tns-item {
    img {
      width: 700px;
    }
  }
}
@media (max-width: 767px) {
  .header {
    &__logo {
      width: 250px;
      img {
        width: 100%;
      }
    }
    &__official {
      display: none;
    }
    &__contacts {
      align-items: center;
    }
  }
  .promo {
    background: url(../img/bg.png) left (center/cover) no-repeat;
    &__wrapper {
      align-items: center;
    }
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 20px;
    }
  }
  .advantages {
    &__items {
      margin-top: 35px;
      justify-content: center;
    }
    &__item {
      margin-top: 30px;
      img {
        margin-bottom: 30px;
      }
    }
  }
  .consultation {
    min-height: 600px;
    &__descr {
      text-align: center;
    }
  }
  .feed-form {
    width: 100%;
    input {
      margin-left: 20%;
      height: 40px;
      width: 60%;
    }
  }
  .title {
    font-size: 28px;
    &_left {
      font-size: 30px;
      text-align: center;
    }
  }
  .button {
    &_submit {
      width: 60%;
      height: 40px;
      font-size: 14px;
      margin-left: 20%;
    }
  }
  .carousel {
    .prev, .next {
        display: none;
    }
  }
  .tns-item {
    img {
      width: 500px;
    }
  }

}
@media (max-width: 575px) {
  .header {
    &__logo {
      width: 180px;
      img {
        width: 100%;
      }
    }

    &__official {
      display: none;
      span {
        display: none;
      }
    }
    &__phone {
      font-size: 12px;
    }
  }
  .promo {
    background: url(../img/bg.png) left (center/cover) no-repeat;
    &__wrapper {
      align-items: center;
      margin-top: 70px;
    }
    &__header {
      font-size: 22px;
    }
    &__subheader {
      text-align: center;
      font-size: 14px;
    }
    &__icons {
      justify-content: space-around;
      width: 300px;
    }
    &__link {
      margin-top: 18px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .button {
    width: 130px;
    font-size: 10px;
    &_main {
      width: 250px;
      height: 40px;
      font-size: 13px;
    }
    &_submit {
      width: 80%;
      height: 40px;
      font-size: 14px;
      margin-left: 10%;
    }
  }
  .advantages {
    &__items {
      margin-top: 45px;
      justify-content: center;
    }
    &__item {
      text-align: center;
    }
  }
  .title {
    font-size: 23px;
    &_left {
      font-size: 25px;
      text-align: center;
    }
  }
  .consultation {
    min-height: 600px;
    padding: 80px 0 32px 0;
    &__descr {
      font-size: 15px;
      text-align: center;
    }
  }
  .feed-form {
    width: 100%;
    input {
      margin-left: 10%;
      height: 40px;
      width: 80%;
    }
  }
  .carousel {
    .prev, .next {
        display: none;
    }
  }
  .tns-item {
    img {
      width: 300px;
    }
  }
}
